<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
        <title>Porfolio</title>
    </head>
    <body>
        <h1 class="welcome">David Rolfs</h1>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Home/About">About</a></li>
            <li><a href="/Home/Projects">Projects</a></li>
        </ul>
        <div class="container">
            @RenderBody()
        </div>
        <div class="footer">
            <ul class="foot-ul">
                <li> <a href="https://github.com/DavidRolfs"><img class="githubLogo"src="https://image.flaticon.com/icons/svg/25/25231.svg" /></a> </li>
                <li> <a href="https://www.linkedin.com/in/davidrolfs/"><img class="linkedInLogo" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png" /> </a></li>
            </ul>
        </div>
    </body>
</html>