@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Who:</h3>
<p>I am originally from Milwaukee Wisconsin where I was born and raised. I moved to Portland Oregon in 2016, after I graduated from Cardinal Strich University with a BA in Business. I visited Portland the summer before I graduated and fell in love with the city. What caught my attention was the easy access to the surrounding nature.  I get the benefits of living in a city but also have the pleasure of hiking snowboarding, and surfing.</p>
<h3>Why:</h3>
<p>I decided to get into wed development and programming after I did a course on Codecademy. I enjoy problem solving so naturaly I got hooked to programming. This led to me signing up for Epicodus where I learned C#, .Net, JavaScript, and Angular.</p>