@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jigglypuff-container">
    <div class="jigglyslide">
        <div class="jigglypuff">
            <span class="jigglyeyes"></span>
            <span class="jigglyeyes"></span>
            <span class="jigglymouth"></span>
            <span class="jigglyhand"></span>
            <span class="jigglyhand jigglyhandr"></span>
            <span class="jigglyfeet"></span>
            <span class="jigglyfeet jigglyfeetr"></span>
        </div>
        <div class="skateboard"></div>
    </div>
</div>