@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Portfolio.Models.GitHub>

@foreach (var repo in Model)
{
    <li>
        Url: @Html.DisplayFor(modelItem => repo.url)
        <br />

        Name: @Html.DisplayFor(modelItem => repo.name)
    </li>
}
